<template>
    <svg :viewBox="viewBox" :style="style">
        <use :xlink:href="`#${xlink}`"></use>
    </svg>
</template>

<script>
    export default {
        props: ['viewBox', 'xlink'],
        computed: {
            style() {
                const array = this.viewBox.split(' ');
                return {
                    width: `${array[2]}px`,
                    height: `${array[3]}px`,
                }
            }
        }
    }
</script>